@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Google Sans';
    font-weight: normal;
}

header{
    max-width: 1280px;
    margin: auto;
    & .photo-link {
        text-decoration: none;
        & .round-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            box-sizing: border-box;
            border: 2px solid #000;
        }
    }
}