form {
    display: block;
    padding: 15px;
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    outline-offset: 2px;
    background: #f6f3f3;
    border-radius: 15px;
    outline: 3px dashed rgb(151, 89, 34);
    & fieldset{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 15px;
        border-radius: 15px;
        align-items: center;
        & legend {
            text-align: center;
        }
        & .form-part{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: start;
            & input {
                width: 300px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #e4e3e3;
                caret-color: rgb(151, 89, 34);
                
                &:focus{
                    outline: 1px solid rgb(151, 89, 34);
                }
                &::placeholder{
                    font-size: 15px;
                }
                &[disabled]{
                    background: rgb(111, 65, 25);
                    color: #e4e3e3;
                    font-size: 15px;
                    cursor:grab;
                }
            }
            & select{
                width: 320px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #e4e3e3;
                font-size: 15px;
                & option[selected]{
                    color: rgb(128, 128, 128);
                }
                &[selected]:focus{
                    outline: 1px solid rgb(151, 89, 34);
                }
            }
            & textarea{
                width: 310px;  
                max-width: 310px;
                border-radius: 10px;
                border: 1px solid #e4e3e3;
                caret-color: rgb(151, 89, 34);
                &:focus{
                    outline: 1px solid rgb(151, 89, 34);
                }
            }
        }
        & .radio-group{
            align-self: flex-start;
            padding-left: 25px;
            & .radio-option{
                & input{
                    width: 12px;
                    outline: 1px #fff;
                }
            }
        }
        & .checkbox-group {
            flex-direction: row;
            & input {
                width: 15px;
                &:focus{
                    outline: 1px #fff;
                }
            }
        }
        button {
            background: none;
            padding: 10px 0;
            width: 320px;
            border-radius: 10px;
            border: none;
            background: rgb(151, 89, 34);
            font-size: 16px;
            color: azure;
            font-weight: 700;
        }
    }
}